body {
    padding-top: 5rem;
  }
  
.nav-link {
    background-color: rgb(157, 103, 157);
}

#dashboard {
    background-color: rgb(133, 69, 133);
}

.search-btn {
    color: rgba(125, 34, 125, 0.8);
}
  