<!doctype html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>neatCode</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- Custom styles for this template -->
  <!-- <link href="static/css/base.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="base.css">
  <link href="static/css/prism.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/prism.css') }}">
</head>
<body style="background-image:url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fuser-images.githubusercontent.com%2F16573106%2F29761464-d6806c5a-8bd1-11e7-812c-ac7aefbab435.png&f=1&nofb=1)">
<div class="pt-5">

<div class="container">

                <div class="row">
                    <div class="col-md-5 mx-auto">
                        <div class="card card-body" style="background-color: rgb(242,241,244, 0.8)">
                          <h1 class="text-center"> neatCode </h1>
                      <form id="submitForm" action="#" method="post" data-parsley-validate="" data-parsley-errors-messages-disabled="true" novalidate="" _lpchecked="1">

                   <div class="form-group required">
              <label for="username"> Email </label>
             <input type="text" class="form-control text-lowercase" id="username" required="" name="username" value="">
               </div>
       <div class="form-group required">
    <label class="d-flex flex-row align-items-center" for="password"> Password
     </label>
<input type="password" class="form-control" required="" id="password" name="password" value="">
       </div>
     <div class="form-group mt-4 mb-4">

              </div>
         <div class="form-group pt-1">
      <button class="btn btn-block button-login" style="background-color: rgb(125, 34, 125, 0.6); color: white" type="submit"> Log In </button>
      <button class="btn btn-primary btn-block" style="background-color: rgb(133, 69, 133); color: white" type="submit"> Register </button>
                  </div>
               </form>

                        </div>
                    </div>
                </div>
            </div>
</div>
</body>
</html>
