<!doctype html>
<html lang="en">
    <head>
        <title>Tutorials</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tutorials.css') }}">
    </head>

    <body>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <a class="navbar-brand" href="#">neatCode</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="{{ url_for('index') }}" id="home-btn">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <!-- <a class="nav-link" href="./tutorials.html" id="tutorials">Tutorials</a> -->
                  <a class="nav-link" href="{{ url_for('tutorials') }}">Tutorials</a>
                </li>
                <li class="nav-item active">
                  <!-- <a class="nav-link" href="../dashboard/dashboard.html" id="dashboard">Dashboard</a> -->
                  <a class="nav-link" href="{{ url_for('dashboard') }}">Dashboard</a>
                </li>
                <li class="nav-item active">
                  <!-- <a class="nav-link" href="dashboard/dashboard.html">Dashboard</a> -->
                  <a class="nav-link" href="{{ url_for('reference') }}">Reference</a>
                </li>
              </ul>

              <form class="form-inline my-2 my-lg-0" action="/login" method="post">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
                <button class="btn search-btn" type="submit">Search</button>
                <button class="btn search-btn ml-1" type="submit">{{ button }}</button>
              </form>

            </div>
        </nav>

        <div class="lessons">
            <ul>
                <li><a href="https://peps.python.org/pep-0008/#indentation"><strong>Indentation</strong></a>
                    <ul>
                        <li><a href="https://peps.python.org/pep-0008/#tabs-or-spaces">Tabs</a></li>
                        <li><a href="https://peps.python.org/pep-0008/#tabs-or-spaces">Spaces</a></li>
                    </ul>
                </li>

                <li><a href="https://peps.python.org/pep-0008/#comments"><strong>Comments</strong></a>
                    <ul>
                        <li><a href="https://peps.python.org/pep-0008/#block-comments">Block Comments</a></li>
                        <li><a href="https://peps.python.org/pep-0008/#inline-comments">Inline Comments</a></li>
                        <li><a href="https://peps.python.org/pep-0008/#documentation-strings">Doc Strings</a></li>
                    </ul>
                </li>

                <li><a href="https://peps.python.org/pep-0008/#naming-conventions"><strong>Naming Conventions</strong></a>
                    <ul>
                        <li><a href="https://peps.python.org/pep-0008/#class-names">Class Names</a></li>
                        <li><a href="https://peps.python.org/pep-0008/#type-variable-names">Variable Names</a></li>
                        <li><a href="https://peps.python.org/pep-0008/#function-and-variable-names">Function and Method Names</a></li>
                    </ul>
                </li>
            </ul>

        </div>

    </body>
</html>
